[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
ipykernel = "*"
nbconvert = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
spectrochempy = "*"
dsatools = "*"
colorednoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
